<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rdelete</key>
	<integer>117</integer>
	<key>backslash</key>
	<integer>42</integer>
	<key>caps</key>
	<integer>57</integer>
	<key>delete</key>
	<integer>51</integer>
	<key>down</key>
	<integer>125</integer>
	<key>end</key>
	<integer>119</integer>
	<key>esc</key>
	<integer>53</integer>
	<key>f1</key>
	<integer>122</integer>
	<key>f10</key>
	<integer>109</integer>
	<key>f11</key>
	<integer>103</integer>
	<key>f12</key>
	<integer>111</integer>
	<key>f13</key>
	<integer>105</integer>
	<key>f14</key>
	<integer>107</integer>
	<key>f15</key>
	<integer>113</integer>
	<key>f16</key>
	<integer>106</integer>
	<key>f17</key>
	<integer>64</integer>
	<key>f18</key>
	<integer>79</integer>
	<key>f19</key>
	<integer>80</integer>
	<key>f2</key>
	<integer>120</integer>
	<key>f20</key>
	<integer>90</integer>
	<key>f3</key>
	<integer>99</integer>
	<key>f4</key>
	<integer>118</integer>
	<key>f5</key>
	<integer>96</integer>
	<key>f6</key>
	<integer>97</integer>
	<key>f7</key>
	<integer>98</integer>
	<key>f8</key>
	<integer>100</integer>
	<key>f9</key>
	<integer>101</integer>
	<key>help</key>
	<integer>114</integer>
	<key>home</key>
	<integer>115</integer>
	<key>left</key>
	<integer>123</integer>
	<key>mute</key>
	<integer>74</integer>
	<key>pad*</key>
	<integer>67</integer>
	<key>pad+</key>
	<integer>69</integer>
	<key>pad-</key>
	<integer>78</integer>
	<key>pad.</key>
	<integer>65</integer>
	<key>pad/</key>
	<integer>75</integer>
	<key>pad0</key>
	<integer>82</integer>
	<key>pad1</key>
	<integer>83</integer>
	<key>pad2</key>
	<integer>84</integer>
	<key>pad3</key>
	<integer>85</integer>
	<key>pad4</key>
	<integer>86</integer>
	<key>pad5</key>
	<integer>87</integer>
	<key>pad6</key>
	<integer>88</integer>
	<key>pad7</key>
	<integer>89</integer>
	<key>pad8</key>
	<integer>91</integer>
	<key>pad9</key>
	<integer>92</integer>
	<key>pad=</key>
	<integer>81</integer>
	<key>padClear</key>
	<integer>71</integer>
	<key>padEnter</key>
	<integer>76</integer>
	<key>pageDown</key>
	<integer>121</integer>
	<key>pageUp</key>
	<integer>116</integer>
	<key>return</key>
	<integer>36</integer>
	<key>right</key>
	<integer>124</integer>
	<key>space</key>
	<integer>49</integer>
	<key>tab</key>
	<integer>48</integer>
	<key>up</key>
	<integer>126</integer>
</dict>
</plist>
